{% call macros.panel("info", "Step 5 - Expose Mehl to the world") %}

<p>You server will be available under a main hostname but may expose multiple public
hostnames. Every e-mail domain that points to this server must have one of the
hostnames in its <code>MX</code> record. Hostnames must be comma-separated. If you're having
trouble accessing your admin interface, make sure it is the first entry here (and possibly the
same as your <code>DOMAIN</code> entry from earlier.</p>

<div class="form-group">
  <label>Public hostnames</label>
<!--   Validates hostname or list of hostnames -->
  <input class="form-control" type="text" name="hostnames" placeholder="my.host.name,other.host.name" multiple required
    	pattern="^(?:(?:\w+(?:-+\w+)*\.)+[a-z]+)*(?:,(?:(?:\w+(?:-+\w+)*\.)+[a-z]+)\s*)*$">
</div>
{% endcall %}
