{% call macros.panel("info", "Step 2 - Base configuration") %}
<p>Before starting, some variables must be set.</p>

<div class="form-group">
  <label>Website name</label>
  <input class="form-control" type="text" name="site_name" value="Mehl" required>
</div>

<div class="form-group">
  <label>Mehl storage path: </label>
<!--   Validates path -->
  <input class="form-control" type="text" name="root" value="/mehl" required pattern="^/[-_A-Za-z0-9]+(/[-_A-Za-z0-9]*)*">
</div>

<p>In the following sections we need to set the postmaster address. This is a combination of the <i>postmaster</i> local part and the <i>main mail domain</i>.
The <i>main mail domain</i> is also used as </i>"server display name"</i>. This is the way the SMTP server identifies itself when connecting to others.
The Postmaster will get an e-mail address &lt;postmaster&gt;@&lt;main_domain&gt;. This address will receive the DMARC "rua" and "ruf" reports.
Or in plain english: if receivers start to classify your mail as spam, this postmaster will be informed.</p>

<div class="form-group">
  <label>Main mail domain and server display name:</label>
<!--   Validates domain name -->
  <input class="form-control" type="text" name="domain" placeholder="e.g. mehl.io"
  		required pattern="^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$">
</div>

<div class="form-group">
  <label>Postmaster local part</label>
  <input class="form-control" type="text" name="postmaster" value="admin" required>
</div>

<div class="form-group">
  <label>Authentication rate limit (per source IP address)</label>
  <p><input class="form-control" style="width: 7%; display: inline;" type="number" name="auth_ratelimit_pm"
  		value="0" required > / minute
  </p>
</div>

{% endcall %}
