{% extends "base.html" %}

{% block title %}
{% trans %}Alias list{% endtrans %}
{% endblock %}

{% block content %}
{% call macros.box(action_url=url_for('.alias_create', domain_name=domain.name), action_text="Add alias", title=domain.name, padding="0") %}
{% call macros.table() %}
<tr>
  <th>{% trans %}Email{% endtrans %}</th>
  <th>{% trans %}Destination{% endtrans %}</th>
  <th>{% trans %}Comment{% endtrans %}</th>
  <th>{% trans %}Created{% endtrans %}</th>
  <th>{% trans %}Last edit{% endtrans %}</th>
  <th width="10%">{% trans %}Actions{% endtrans %}</th>
</tr>
{% for alias in domain.aliases %}
<tr>
  <td>{{ alias }}</td>
  <td>{{ alias.destination|join(', ') or '-' }}</td>
  <td>{{ alias.comment or '' }}</td>
  <td>{{ alias.created_at }}</td>
  <td>{{ alias.updated_at or '' }}</td>
  <td>
    <a href="{{ url_for('.alias_edit', alias=alias.email) }}" class="btn btn-primary btn-sm">
      <i class="fas fa-pencil-alt"></i>
      {% trans %}Edit{% endtrans %}
    </a>
    <a href="{{ url_for('.alias_delete', alias=alias.email) }}" class="btn btn-primary btn-sm">
      <i class="fas fa-trash"></i>
      {% trans %}Delete{% endtrans %}
    </a>
  </td>
</tr>
{% endfor %}
{% endcall %}
{% endcall %}
{% endblock %}
